body {
    font-size: 50%;
    font-family: 'Nunito', sans-serif;
}

span {
    color: #FF7700;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

section .canva-side {
    display: flex;
    width: 65vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../imgs/consumo-de-energia-scaled-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

section .canva-side p {
    font-size: 7ch;
    color: var(--white);
}

section .canva-side .brand-span {
    font-family: 'Northland Script', sans-serif;
    font-size: 2.8ch;
    color: white;
}

section .form-side {
    display: flex;
    width: 35vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

section .form-side .form {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .form-side .form .brand {
    font-family: 'Northland Script', sans-serif;
    font-size: 17.5ch;
    color: var(--white);
    align-self: center;
}

section .form-side .form .inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: -50px;
}

section .form-side .form .inputs p{
    font-size: 5.3ch;
    color: var(--white);
    align-self: start;
    margin-bottom: 15px;
}


section .form-side .form .inputs p:last-child{
    font-size: 4.3ch;
    align-self: center;
    cursor: pointer;
}

section .form-side .form .inputs input, button {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 3ch;
}

section .form-side .form .inputs button {
    height: 60px;
    margin-top: 5px;
    background-color: var(--orange);
    font-size: 3.3ch;
    color: var(--white);
    transition: 0.2s;
    cursor: pointer;
}

section .form-side .form .inputs button:hover {
    background-color: var(--secondary-orange);
    transition: 0.2s;
}
